body {
  font-size: 15px;
}
body * {
  box-sizing: border-box;
}
:root {
  --yellow: #ffc600;
}
button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
  transition: 0.2s ease;
  cursor: pointer;
}
.about__details button:hover {
  opacity: 0.7;
}
.wrapper {
  display: grid;
  grid-gap: 2rem;
}
img {
  max-width: 100%;
}

.top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
}

.hero {
  grid-row: span 2;
  background-image: url(tacohut/images/taco.jpg);
  background-size: cover;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: bottom right;
  align-items: flex-start;
  height: 400px;
}
.hero > * {
  padding: 1rem;
}
.hero > *,
.cta {
  background-color: var(--yellow);
  color: #000;
}
.cta {
  display: grid;
  justify-items: center;
  align-content: center;
  align-items: end;
  padding: 1rem;
}
.cta .price {
  font-size: 6rem;
  font-weight: 200;
}
.cta p {
  margin: 0;
}
.nav-toggle {
  display: none;
}
#menu-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  grid-gap: 2rem;
  padding: 0;
}
#menu-list li {
  background-color: var(--yellow);
  display: grid;
  justify-items: center;
  padding: 1rem;
  transition: 0.2s ease;
  cursor: pointer;
  color: #000;
}

#menu-list a {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  text-transform: uppercase;
}
#menu-list li:hover {
  background-color: #fff;
  transform: scale(0.95);
  color: var(--yellow);
}
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
  grid-gap: 2rem;
}
.feature {
  padding: 2rem;
  background-color: #fff;
}
.feature .icon {
  font-size: 5rem;
}
.feature p {
  color: rgba(0, 0, 0, 0.5);
}
.about {
  display: grid;
  padding: 50px;
  grid-template-columns: minmax(400px, 1fr) 2fr;
  align-items: center;
  background-color: #fff;
}
.about img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about p {
  color: rgba(0, 0, 0, 0.5);
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}
.gallery h2 {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 2rem;
  align-items: center;
}
.gallery h2::before,
.gallery h2::after {
  height: 1rem;
  background: linear-gradient(to var(--dir, left), var(--yellow), transparent);
  content: "";
  display: block;
}
.gallery h2::after {
  --dir: right;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1150px) {
  .menu {
    order: -1;
    cursor: pointer;
  }
  .nav-toggle {
    display: block;
  }
  #menu-list {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all 0.5s;
  }
  [aria-expanded="false"] .close {
    display: none;
  }
  [aria-expanded="true"] ~ #menu-list {
    display: grid;
    transform: rotateX(0deg);
    max-height: 500px;
  }
  .hide {
    display: none;
  }
}
@media (max-width: 800px) {
  .top,
  .about {
    grid-template-columns: 1fr;
  }
}
